body{
    background-color: Gainsboro;
    margin: 0 !important;
}

#root{
    margin: 0 !important;
    background-color: Gainsboro;
    margin:auto;
    width:100%;
}
#header{
    background-color: #202020;
}
#contentcontainer , #headcontainer, #footercontainer{
    margin-left: 15%;
    margin-right: 15%;
}
#headcontainer{
    color: white;
    background-color: #202020;
}
#footer{
    background-color: #202020;
    color:white;
}
#aside{

    margin-left: 0%;
    float: left;
    font-size: 18px;
    min-height:100%;
    background-color:silver;
}

.cart{
    text-align:right;
}

#section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    content-justify:center;
    padding-left:5px;
    float: left;
    width:80%;
    font-size: 18px;
    height:100%;
}
#section-head{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
    background-color:silver;
    //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#section-content{
    margin-top:15px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100;
    align-items: center;
    background-color:silver;
    border: 1px solid #CCC;
}

#section-content .list .item{
    padding:15px;
    border-bottom: 1px solid #CCC;
}
#section-content .list .item:last-of-type{
    border-bottom: none;
}
#section-content .list .item:hover{
    background: rgba(0, 0, 0, 0.05);
}

#content {

    display: block;
    min-height:20px;
}
#footercontainer a{
    color:white;
}
#contentcontainer{
    min-height: 400px;
}
.arrow {
  padding-left:5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
