html body {
    display:absolute;
    height: 100%;
    margin: 0 ;
}
body{
    background-color: Gainsboro;
}

#root{
    items-justify:center;
    background-color: Gainsboro;
    width:100%;
    min-height: 100%;
}
#header{
    font-size: 30px;
    background-color: #202020;
}
#headcontainer{
    color: white;
    background-color: #202020;
}

#footer{
    font-size: 30px;
    color:white;
    text-align:center;
    background-color: #202020;
    color:white;
    position: relative;

}
#aside{
    display:inline-block;
    margin-left: 0%;
    float: left;
    font-size: 30px;
    height:100px;
    position:relative;
    background-color:silver;
}

.cart{
    font-size: 30px;
    text-align:right;
}

#section{
    padding-left:10px;
    font-size: 30px;
    display:inline-block;
}
#section-tools{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:80px;
    background-color:silver;
    //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#section-content{
    margin-top:15px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100;
    align-items: center;
    background-color:silver;
    border: 1px solid #CCC;
}

#section-content .list .item{
    padding:15px;
    border-bottom: 1px solid #CCC;
}
#section-content .list .item:last-of-type{
    border-bottom: none;
}
#section-content .list .item:hover{
    background: rgba(0, 0, 0, 0.05);
}

#content {
    items-justify:center;
    display: block;
     height:100%;
}
#footercontainer{
    text-align:center;
    color:white;
    width:100%;
}
#contentcontainer{
    text-align:center;
    height:100%;
}
.arrow {
  padding-left:5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.product-item{
    width:100%;
    min-height:90px;
    border-top:5px solid black;
    border-bottom:5px solid black;
}

.product-item:hover{
    background-color:#808080;
}
.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
}

.product-detail{
    margin-left:10%;
    margin-right:10%;

    justify-content:center;
    align-items:center;
}
#product-img{
    float:left;
    margin-right:10px;
}
#product-detail{
    display:flex;
    float:left;
    margin-left:10px;
}