{% extends 'layout/dashboard.html' %}
{% load static%}
{% block title %}
    {{ parent.name }}
{% endblock %}
{% block body %}
    <div id="content">
        <div id="aside">
            <div id="aside-label">
              Category
            </div>
            <div id="aside-content">
                {% if ancestor.id == 1 %}
                <a href="{% url 'ProjectShop:main' %}"><i class="arrow right"></i>Main page</a><br>
                {% else %}
                    <a href="{{  ancestor.parent.get_absolute_url }}"><i class="arrow right"></i>back from {{ parent.name }}</a><br>
                {% endif %}

            {% for category in categories %}
                <a style="padding-left:5px;" href="{{  category.child.get_absolute_url }}"><i class="arrow right"></i>{{ category.child.name }}</a><br>
            {% endfor %}
            </div>
        </div>

        <div id="section">
            <div id="section-tools">
                products:
            </div>
            {% if products %}
                <div id="content-content">
                    {% for product in products %}
                        <a href="{{  product.get_absolute_url }}">
                            <div class="product-item">
                                <img style="float:left;" src="{%if product.image %}{{product.image}}{% else %}{% static "img/no_image.png"%}{% endif %}" width=40px height=40px>
                                <p class="name"  style="float:left;margin-left:20px;">{{ product.name }}</p>
                                <p class="available" style="float:left;margin-left:20px;">available: {{product.available}}</p>
                                <p class="stock" style="float:left;margin-left:20px;">in stock: {{product.stock}}</p>
                                <p class="price" style="float:right;">${{product.price}}</p>
                                <div style="clear:both"></div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% include "pagination.html" with page=products %}
                </div>
            {% endif %}
        </div>
    <div style=""></div>
    </div>
{% endblock %}