{% extends 'layout/dashboard.html' %}
{% load static%}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block body %}
<div class="product-detail">
   <div id="product-img">
   <img src="{%if product.image %}{{product.image}}{% else %}{% static "img/no_image.png"%}{% endif %}" width=200px height=200px>
   </div>
   <div id="product-content">
   <h3>{{ product.name }}</h3>
   <h4><a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a> </h4>
   <p class="price-product">${{product.price}}</p>
   <p class="product-description" >{{product.description | linebreaks}}</p>
   </div>
</div>
<div style="clear:both"></div>
{% endblock %}